.Link {
    background-color: #47434F;
    border-radius: 15px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 12px;
    padding: 12px;
    min-width: 200px;

    text-decoration: none;
    color: white;

    transition: linear 0.2s;

    .Link__icon {
        width: 32px;
        height: 32px;

        margin-left: 5px;
    }

    .Link__label {
        text-align: center;
        line-height: 30px;

        padding: 0;
        margin: 0;
        width: 100%;
    }
}

.Link:hover {
    background-color: #5E5A65;
}