.App {
    & .Navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding-right: 16px;
        padding-left: 16px;

        background-color: #37353B;

        & a {
            color: white;
            text-decoration: none;
        }

        & .Navigation__items {
            display: flex;
            flex-direction: row;
            list-style-type: none;

            & li {
                margin-left: 5px;
                margin-right: 5px;
            }
        }

        & .Navigation__logo {
            margin: 0;
        }
    }

    & .Content {
        margin-left: 25px;
        margin-right: 25px;
    }
}